<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lingxiao.mvp.huanxinmvp">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- 震动权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />

    <uses-feature android:name="android.hardware.camera" /> <!-- 使用照相机权限 -->
    <uses-feature android:name="android.hardware.camera.autofocus" /> <!-- 自动聚焦权限 -->

    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".global.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LogoActivity"
            android:theme="@style/LogoTheme"></activity>
        <activity
            android:name=".view.SplashActivity"
            android:theme="@style/FullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/MyMainTheme" />

        <!-- 设置环信应用的AppKey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1162170624178702#yun" />
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".view.RegistActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.LoginActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.ChatActivity"
            android:theme="@style/MyMainTheme" />
        <activity
            android:name=".view.AddFriendActivity"
            android:label="@string/title_activity_add_friend"
            android:theme="@style/MyMainTheme" />
        <activity
            android:name=".google.activity.CaptureActivity"
            android:theme="@style/MyMainTheme" />
        <activity
            android:name=".view.WebViewActivity"
            android:theme="@style/MyMainTheme" />
        <!-- 腾讯云反馈组件 -->
        <activity android:name="com.avos.avoscloud.feedback.ThreadActivity" />

        <receiver android:name=".receiver.NetworkReceiver" />

        <activity
            android:name=".view.CallPhoneActivity"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".view.AcceptCallActivity"
            android:launchMode="singleInstance"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".view.UserInfoActivity"
            android:theme="@style/MyMainTheme" />

        <!-- 图片选择器 -->
        <activity
            android:name="com.donkingliang.imageselector.ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name="com.donkingliang.imageselector.ClipImageActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <!-- end 图片选择器 -->
        <activity
            android:name=".view.SkinActivity"
            android:theme="@style/MyMainTheme" />
        <activity
            android:name=".view.AudioActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.LocalPicActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.SettingActivity"
            android:theme="@style/MyMainTheme" />

        <service
            android:name=".service.NotifyService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".view.regist.RegistInfoActivity"
            android:theme="@style/NoTitleTranslucentTheme" />
        <activity
            android:name=".view.FriendInfoActivity"
            android:theme="@style/MyMainTheme" />

        <service
            android:name=".service.InitIalizeService"
            android:exported="false" />
        <receiver android:name=".receiver.NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
                <action android:name="notification_clicked"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>